<div class="row">
    <div class="col-sm-12 col-md-2 col-lg-4">
        <img src="/assets/avatar.png" alt="">
    </div>

    <div class="col-sm-12 col-md-10 col-lg-8">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(user)">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input class="form-control"
                    type="text" 
                    formControlName = "name"
                    placeholder="Ingrese Nombre" 
                />
            </div>

            <div class="form-group">
            <label for="name">Apellido</label>
            <input class="form-control"
                type="text" 
                formControlName = "lastName"
                placeholder="Ingrese Apellido" 
            />
            </div>

            <div class="form-group">
                <label for="position">Usuario</label>
                <input class="form-control"
                    type="text" 
                    formControlName="user" 
                    placeholder="Ingrese Usuario"
                />
            </div>
            <div class="form-group">
                <label for="ubication">Correo</label>
                <input class="form-control"
                    type="text" 
                    formControlName="email" 
                    placeholder="Ingrese Correo"
                />
            </div>

            <div class="form-group">
            <label for="ubication">Legajo</label>
            <input class="form-control"
                type="text" 
                formControlName="legajo" 
                placeholder="Ingrese Legajo"
            />
            </div>

            <div class="form-group">
            <label for="ubication">Vacaciones</label>
            <input class="form-control"
                type="text" 
                formControlName="diasVacaciones" 
                placeholder="Ingrese Vacaciones"
            />
            </div>

            <div class="form-group">
            <label for="ubication">Dias a Favor</label>
            <input class="form-control"
                type="text" 
                formControlName="diasFavor" 
                placeholder="Ingrese Dias a Favor"
            />
            </div>
            

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" [disabled]="!formGroup.valid" data-bs-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
            </div>
        </form>
    </div>
</div>