.row{
    margin-top: 15px;
}

.form-group{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form-group label{
    margin-right: 10px;
}
.form-group input{
    width: 70%;
}

img{
    max-width: 280px;
    max-height: 280px;
}

img:hover{
    opacity: 0.7;
}

.col-sm-12{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}

form{
    width: 100%;
}
