<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-4">
        <!-- <img src="/assets/avatar.png" alt=""> -->
        <!-- <img src="http://localhost:8080/files/81ebde88-a8ea-48b8-80ee-3737913564bc" alt=""> -->
        <!-- <img src="data:image/jpeg;base64,{{imageUrl}}" alt=""> -->
        <img [src]="photo" alt="">

    </div>

    <div class="col-sm-12 col-md-9 col-lg-8">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(user)">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input class="form-control"
                    type="text" 
                    formControlName = "name"
                    placeholder="Ingrese Nombre" 
                />
            </div>

            <div class="form-group">
            <label for="name">Apellido</label>
            <input class="form-control"
                type="text" 
                formControlName = "lastName"
                placeholder="Ingrese Apellido" 
            />
            </div>

            <div class="form-group">
                <label for="position">Usuario</label>
                <input class="form-control"
                [ngClass]="isAdmin? '': 'disabled'"
                    type="text" 
                    formControlName="user" 
                    placeholder="Ingrese Usuario"
                    required
                />
            </div>
            <div class="form-group">
                <label for="ubication">Correo</label>
                <input class="form-control"
                    type="text" 
                    formControlName="email" 
                    placeholder="Ingrese Correo"
                />
            </div>

            <div class="form-group">
            <label for="ubication">Legajo</label>
            <input class="form-control"
                type="text" 
                formControlName="legajo" 
                placeholder="Ingrese Legajo"
            />
            </div>

            <div class="form-group">
            <label for="ubication">Vacaciones</label>
            <input class="form-control"
            [ngClass]="isAdmin? '': 'disabled'"
                type="text" 
                formControlName="diasVacaciones" 
                placeholder="Ingrese Vacaciones"
            />
            </div>

            <div class="form-group">
            <label for="ubication">Dias a Favor</label>
            <input class="form-control"
            [ngClass]="isAdmin? '': 'disabled'"
                type="text" 
                formControlName="diasFavor" 
                placeholder="Ingrese Dias a Favor"
            />
            </div>
            

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" [disabled]="!formGroup.valid">Guardar</button>               
            </div>
        </form>
    </div>
</div>