td{
    text-align: center; 
    vertical-align: middle;
}

th{
    text-align: center; 
    vertical-align: middle;
}

.content{
    display: block;
    width: 100%;
}
.card {
    all: unset;
    height: 2em;
    border-radius: 4px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    margin:1px;
    background: linear-gradient(#004993,#008bf6);;
    border-color: #232a30;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    height: 48px;
}

.container{
width: 100%;
}

.table-responsive {
min-height: .01%;
overflow-x: auto;
}