<div class="calendar">
    <div class="row">       

        <div id='external2' class="col-md-2 col-sm-6 offset-sm-3 offset-md-0" style="margin-top: 10px">
            <div class="card">
                <strong>TURNOS</strong>
            </div>
            
            <br>
            <strong>Turno Mañana</strong>
            <div class='fc-event turno' style="background-color: hotpink; border-color: hotpink">08:00 Paula</div>
            <div class='fc-event turno' style="background-color: #27a9e3; border-color: #27a9e3">08:00 Cecilia</div>
            <div class='fc-event turno' style="background-color: #2255a4; border-color: #2255a4">08:00 Maxi</div>
            <div class='fc-event turno' style="background-color: orange; border-color: orange">08:00 Sandra</div>
            <div class='fc-event turno' style="background-color: purple; border-color: purple">08:00 Yanina</div>
            <div class='fc-event turno' style="background-color: green; border-color: green">08:00 Debora</div>
            <div class='fc-event turno' style="background-color: rgb(200, 0, 255); border-color: rgb(200, 0, 255)">08:00 Florencia</div>
            <br>
            <strong>Turno Noche</strong>
            <div class='fc-event turno' style="background-color: hotpink; border-color: hotpink">20:00 Paula</div>
            <div class='fc-event turno' style="background-color: #27a9e3; border-color: #27a9e3">20:00 Cecilia</div>
            <div class='fc-event turno' style="background-color: #2255a4; border-color: #2255a4">20:00 Maxi</div>
            <div class='fc-event turno' style="background-color: orange; border-color: orange">20:00 Sandra</div>
            <div class='fc-event turno' style="background-color: purple; border-color: purple">20:00 Yanina</div>
            <div class='fc-event turno' style="background-color: green; border-color: green">20:00 Debora</div>
            <div class='fc-event turno' style="background-color: rgb(200, 0, 255); border-color: rgb(200, 0, 255)">20:00 Florencia</div>
        </div>

        <!-- COMPONENTE CALENDAR -->
        <!-- ------------------- -->

        <div class="col-md-8 col-sm-12" style="">
            <p-fullCalendar #calendar [options]="options" [events]="events"
            [events]="events"
            (dateClick)="dateClick($event)"
            (eventClick)="eventClick($event)"
            (eventDragStop)="eventDragStop($event)"
            (eventDrop)="eventDrop($event)"
            ></p-fullCalendar>
        </div>
        
        <!-- ------------------- -->

        <div id='external1' class="col-md-2 col-sm-6 offset-sm-3 col-xs-6 offset-xs-3 offset-md-0">
            <div class="card">
                <strong>SOLICITUDES</strong>
            </div>
            
            <br>
            <strong> Arrastre las solicitudes</strong>
            <div class='fc-event specialEvent' style="background-color: crimson; border-color: crimson">Cambio de guardia</div>
            <div class='fc-event specialEvent' style="background-color: crimson; border-color: crimson">Compensatorio</div>
            <div class='fc-event specialEvent' style="background-color: crimson; border-color: crimson">Licencia examen</div>
            <div class='fc-event specialEvent' style="background-color: crimson; border-color: crimson">Licencia Enfermedad</div>
            <div class='fc-event specialEvent' style="background-color: crimson; border-color: crimson">Licencia Matrimonio</div>
            <div class='fc-event specialEvent' style="background-color: crimson; border-color: crimson">Licencia Nacimiento</div>
            <div class='fc-event specialEvent' style="background-color: crimson; border-color: crimson">Vacaciones</div>
            
            <!-- <br>
            <p>
                <strong>Eventos</strong>
                <br>
                Administración
                </p>
            <div class="trash">    
                <i class="bi bi-trash3-fill trasher"></i>  
            </div>
            <div class="title-center">
                <p style="font-size: 0.6rem; margin:auto">Arrastre aquí para eliminar</p>
            </div> -->
            <div class="" style="margin-top: 50px">
                
                <button class="btn btn-lg btn-success float-start" style="width: 100%" >Guardar</button>
                <button class="btn btn-lg btn-danger float-end" style="width: 100%; margin-top: 10px" (click)="saveEvents()">Descartar</button>
            </div>
        </div>


    </div>
</div>

