<div class="card title">
    <span><h3>Auditoría de eventos</h3></span>
</div>

<div class="content" style="min-width: 600px">
    <div class="row">
        <div class="col-12">

            <table class="table table-hover table-bordered" style="background-color: white" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Tipo De Evento</th>
                </tr>
              </thead>
              <tbody *ngFor="let log of logs" >
                <tr *ngIf="log.id!=0">            
                  <th scope="row">{{log.id}}</th>        
                  <td>{{log.usuario.user}}</td>
                  <td>{{log.descripcion}}</td>
                  <td>{{log.date_time}}</td>
                  <td>{{log.tipoLog.descripcion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
